<!-- <!doctype html>
<html>
    <head>
        <title>My EPOC | Control</title>
        <style>
         p {
            font-family: Garamond , sans-serif;
            font-size: 32px;
            line-height: 1.5;
            color: #333;
            background-color: #f8f8f8;
         }
       </style>
    </head>
    <body>
      <p>Patient: </p>
      <input type="text" id="name" name="name" placeholder="Patient's name">
      <p>Airflow: </p>
      <input type="number" id="airflow" step="0.1"  placeholder="O2 flow">
    </body>
</html> -->

<form method="post">
    {% csrf_token %}
    {{ form.patient.label_tag }} {{ form.patient }}
    {{ form.patient.errors }}
    <br>
    {{ form.airflow.label_tag }} {{ form.airflow }}
    {{ form.airflow.errors }}
    <br>
    <button type="submit">Submit</button>
</form>
