{% extends 'base.html' %}
{% load static %}

{% block title %}
<title>WETMOS - Datos</title>
{% endblock %}

{% block content %}
<div class="container-fluid px-4">
    <h1 class="mt-4">Patient's details</h1>
    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item active">Overview</li>
    </ol>
    <div class="row">
        <div class="col-xl-3 col-md-6">
            <div class="card bg-secondary text-white mb-4">
                <div class="card-body" style="font-size: 30px";>{{patient.name}}</div>
                <div class="card-footer d-flex align-items-center justify-content-between">
                    <a class="small text-white stretched-link">Patient</a>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-md-6">
            <div class="card bg-primary text-white mb-4">
                <div id='spo-container' class="card-body" style="font-size: 30px";>0</div>
                <div class="card-footer d-flex align-items-center justify-content-between">
                    <a class="small text-white stretched-link">SpO2</a>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-md-6">
            <div class="card bg-success text-white mb-4">
                <div class="card-body" style="font-size: 30px";>{{command.flow}} L/min</div>
                <div class="card-footer d-flex align-items-center justify-content-between">
                    <a class="small text-white stretched-link">Flow</a>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-md-6">
            <div id='alert-color' class="card bg-primary text-white mb-4">
                <div id='alert-container' class="card-body" style="font-size: 30px";>None yet</div>
                <div class="card-footer d-flex align-items-center justify-content-between">
                    <a class="small text-white stretched-link">Alarms</a>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        {% if request.user.role == 'medic' %}
        <div class="col-xl-6">
        {%else%}
        <div class="col-xl-12">
        {% endif %}
            <div class="card mb-4">
                <div id="spo2_tab" class="card-header">
                    <i class="fas fa-chart-area me-1"></i>
                    Patient's history 
                </div>
                <div class="card-body">
                    <canvas id="chart_SPO2" data-url="{% url 'spo2-chart' patient.id%}"></canvas>
                </div>
                <div class="card-body">
                    <canvas id="chart_FLOW" data-url="{% url 'spo2-chart' patient.id%}"></canvas>
                </div>
            </div>
        </div>
        
        {% if request.user.role == 'medic' %}
        <div class="col-xl-6">
            <div class="card mb-4">
                <div class="card-header">
                    <i class="fas fa-chart-bar me-1"></i>
                    Control Flow
                </div>
                <div class="card-body">
                    <form method="post">
                        {% csrf_token %}
                        {{ form.patient.label_tag }} {{ form.patient }}
                        {{ form.patient.errors }}
                        <br>
                        {{ form.flow.label_tag }} {{ form.flow }}
                        {{ form.flow.errors }}
                        <br>
                        <p></p>
                        <button type="submit">Submit</button>
                    </form>
                </div>
            </div>
        </div> 
        {% endif %}
    </div>
</div>  
{% endblock %}

 
{% block scripts %}                      
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
<script>  
    var interval = setInterval(function () {
    var lastValue;
    var $SpoChart = $("#chart_SPO2");
    var $FlowChart = $("#chart_FLOW");
    var $SpoContainer = $("#spo-container");
    var $AlertContainer = $("#alert-container");
    var $AlertColor = $("#alert-color");
    
    $.ajax({
        url: $SpoChart.data("url"),
        success: function (data) {
        lastValue = data.data[data.data.length - 1];
        console.log(lastValue);
        $SpoContainer.text(lastValue);
        

        if (lastValue >= 85) {
            $AlertContainer.text("Safe");
            $AlertColor.removeClass("bg-danger").addClass("bg-primary");
        } else {
            $AlertContainer.text("Danger: SpO2");
            $AlertColor.removeClass("bg-primary").addClass("bg-danger");
        }

        var ctx = $SpoChart[0].getContext("2d");
        new Chart(ctx, {
            type: 'line',
            data: {
            labels: data.labels,
            datasets: [{
                label: 'SpO2',
                lineTension: 0.3,
                backgroundColor: "rgba(2,117,216,0.2)",
                borderColor: "rgba(2,117,216,1)",
                pointRadius: 5,
                pointBackgroundColor: "rgba(2,117,216,1)",
                pointBorderColor: "rgba(255,255,255,0.8)",
                pointHoverRadius: 5,
                pointHoverBackgroundColor: "rgba(2,117,216,1)",
                pointHitRadius: 50,
                pointBorderWidth: 2,
                data: data.data
            }]          
            },
            options: {
            responsive: true,
            legend: {
                position: 'top',
            },
            title: {
                display: true,
                text: 'Patient\'s SpO2'
            }
            }
        });

        var flow_ctx = $FlowChart[0].getContext("2d");
        new Chart(flow_ctx, {
            type: 'line',
            data: {
            labels: data.labels,
            datasets: [{
                label: 'Flow',
                lineTension: 0.3,
                backgroundColor: "rgba(31,120,50,0.2)",
                borderColor: "rgba(31,120,50,1)",
                pointRadius: 5,
                pointBackgroundColor: "rgba(31,120,50,1)",
                pointBorderColor: "rgba(255,255,255,0.8)",
                pointHoverRadius: 5,
                pointHoverBackgroundColor: "rgba(2,117,216,1)",
                pointHitRadius: 50,
                pointBorderWidth: 2,
                data: data.flow
            }]          
            },
            options: {
            responsive: true,
            legend: {
                position: 'top',
            },
            title: {
                display: true,
                text: 'Valve\'s flow'
            }
            }
        });
        }
    });
    },4000);
</script>
{% endblock %}